
WalletFrame {
    margin:0;
    padding:0;
    }
    /*
    QStatusBar {
    background-color:#ffffff;
    }
    
    .QFrame {
    background-color:transparent;
    border:0px solid #fff;
    }
    
    QMenuBar {
    background-color:#fff;
    }
    
    QMenuBar::item {
    background-color:#fff;
    color:#333;
    }
    
    QMenuBar::item:selected {
    background-color:#f8f6f6;
    }
    
    QMenu {
    background-color:#f8f6f6;
    }
    
    QMenu::item {
    color:#333;
    }
    
    QMenu::item:selected {
    background-color:#f2f0f0;
    color:#333;
    } */
    
    #bottomToolbar {
    padding: 3px 0 15px;
    }
    
    QToolBar > QToolButton {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    min-height:2.5em;
    padding: 7px 15px 7px 15px;
    color:white;
    margin: 0 5px;
    }
    
    QToolBar > QToolButton:checked {
    background: transparent;
    font-size: 15px;
    color:#83faff;
    font-weight:bold;
    }
    
    #navLayout{
        /*background-image: linear-gradient(105deg, #5e0057 0%, #1f192a 100%);*/
        background: qlineargradient( x1:0 y1:0, x2:1 y2:1, stop:0 #5e0057, stop:1 #1f192a);
    }
    
    #dapsico{
        padding:25px;
    }
    
    /* QMessageBox {
    background-color:#F8F6F6;
    } */
    
    /* QProgressBar {
    color:#d2d2d2;
    border:2px solid grey;
    border-radius:5px;
    background-color:transparent;
    } */
    
    /* QProgressBar::chunk {
    background-color:#5B4C7C;
    width: 20px;
    } */
    
    QTabWidget {
    background-color:#f2f2f2;
    }
    
    QTabWidget::pane {
    background-color:#f2f2f2;
    border:1px solid #c2c2c2;
    }
    
    /* QTabBar {
    background-color:#f2f2f2;
    color:#333;
    } */
    
    /* QTabBar::tab:hover:!selected {
    background-color: #dedbe5;
    } */
    
    /* QWidget {
    selection-background-color:#5B4C7C; 
    selection-color:#fff;
    outline:0; 
    } */
    
    /* QGroupBox {
    background-color:#fcfcfc;
    color:#333;
    } */
    
    /* QToolTip {
    background-color:#dedbe5;
    color:#333;
    } */
    /* 
    QTextEdit {
    background-color:#fff;
    color:#333;
    }  */
    
    /****************************************************************************************/
    
    QStackedWidget, Qframe, QStatusBar, QTabWidget, QWidget, .QWidget, .QTabWidget {
    background: transparent;
    border-style: none;
    }
    
    QDialog {
    border-style: none;
    background: qlineargradient( x1:0 y1:0, x2:1 y2:1, stop:0 #5e0057, stop:1 #1f192a);
    }
    
    QLabel, QMenuBar::item, QMenu::item, QRadioButton, QCheckBox { /* Base Text Size & Color */
    font-size: 15px;
    color:white;
    font-family: Roboto;
    font-weight: 300;
    }
    
    
    .QRadioButton::indicator, QCheckBox::indicator {
    height: 25px;
    width: 25px;
    border-radius: 12px;
    background-color:whitesmoke;
    margin: 7px;
    }
    .QRadioButton::indicator:checked, QCheckBox::indicator:checked {
    height: 20px;
    width: 20px;
    background-color: #5e2059;
    border-style: solid;
    border-radius: 13px;
    border-color: whitesmoke;
    border-width: 4px;
    margin: 7px;
    }
    
    /* .QCheckBox { 
    color:#333333;
    background-color:transparent;
    }
    
    .QCheckBox:hover {
    background-color:transparent;
    } */
    
    .QValidatedLineEdit, .QLineEdit, QAbstractSpinBox, QComboBox, QListView, QTextEdit { /* Text Entry Fields */
    padding-left: 10px;
    height: 40px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    border-width: 1px;
    border-color: #83faff;
    border-style: solid;
    background: #1E223A;
    color: white;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin: 5px;
    }
    
    .QValidatedLineEdit:focus, .QLineEdit:focus, QAbstractSpinBox:focus, QComboBox:focus, QComboBox::item:selected, QMenuBar::item:selected, QMenu::item:selected, QTextEdit:focus, QToolTip {
    font-size:18px;
    border-width:4px;
    background: #31398C;
    }
    
    .QValidatedLineEdit:disabled, .QLineEdit:disabled, QAbstractSpinBox:disabled, QComboBox:disabled {
    border-style: solid;
    border-width: 1px;
    border-color: #8ec7c9;
    background: darkslategrey;
    color: grey;
    font-style: italic;
    }
    
    QComboBox QListView {
    border-radius: 0;
    }
    
    QComboBox::item:selected {
    border-style: none;
    }
    
    /****************************************************************************************/
    
    QPushButton { /* Global Button Style */
    height: 40px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    background-color: #5e0057;
    color: white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 20px;
    }
    
    QPushButton:hover {
    background-color: #4e0049;
    color: #b0fcff;
    font-style: bold;
    }
    
    QPushButton:pressed{
    background-color:#5e0057;
    border-style:solid;
    border-color: #4e0049;
    border-width: 10px;
    }
    /* 
    QComboBox { 
    border:1px solid #5B4C7C;
    padding: 3px 5px 3px 5px;
    background:#fcfcfc;
    min-height:25px;
    color:#818181;
    }
    
    QComboBox:checked {
    background:#f2f2f2;
    }
    
    QComboBox:editable {
    background:#382f44;
    color:#616161;
    border:0px solid transparent;
    } */
    
    /* 
    QComboBox::down-arrow {
    border-image: url(':/images/downArrow') 0 0 0 0 stretch stretch;
    } */
    /* 
    QComboBox QListView {
    background:#fff;
    border:1px solid #333;
    padding-right:1px;
    padding-left:1px;
    color:#818181;
    }
    
    QComboBox QAbstractItemView::item {
    margin:4px;
    }
    
    QComboBox::item {
    color:#818181;
    }
    
    QComboBox::item:alternate {
    background:#fff;
    }
    
    QComboBox::item:selected {
    border:0px solid transparent;
    background:#f2f2f2;
    }
    
    QComboBox::indicator {
    background-color:transparent;
    selection-background-color:transparent;
    color:transparent;
    selection-color:transparent;
    } */
    
    /* QAbstractSpinBox {
    height: 40px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    border: 1px solid #83faff;
    background: #1E223A;
    color: white;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    }
    
    QAbstractSpinBox:focus {
    font-size:18px;
    border-width:4px;
    background: #31398C;
    }
    
    QAbstractSpinBox:disabled {
    border: 1px solid #8ec7c9;
    background: rgb(62, 65, 85);
    color: darkgrey;
    font-style: italic;
    font-size:10px;
    } */
    
    QAbstractSpinBox::up-button {
    border-radius: 10px 10px 0 0;
    subcontrol-origin: border;
    subcontrol-position: top right;
    width:21px;
    padding-right:1px;
    padding-left:5px;
    padding-top:2px;
    }
    
    QAbstractSpinBox::up-arrow {
    image:url(':/images/upArrow_small');
    }
    
    QAbstractSpinBox::up-arrow:disabled {
    image:url(':/images/upArrow_small_dark');
    }
    
    QAbstractSpinBox::down-button, QComboBox::drop-down  {
    border-radius: 0 0 10px 10px;
    subcontrol-origin: border;
    subcontrol-position: bottom right;
    padding-right:1px;
    padding-left:5px;
    padding-bottom:2px;
    width: 21px;
    }
    
    QAbstractSpinBox::down-arrow, QComboBox::down-arrow {
    image:url(':/images/downArrow_small');
    }
    
    QAbstractSpinBox::down-arrow:disabled, QComboBox::down-arrow:disabled {
    image:url(':/images/downArrow_small_dark');
    }
    
    QSlider::horizontal{
    height: 45px;
    }
    
    QSlider::groove:horizontal {
    height: 8px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
    background-color: rgba(0, 0, 0, 0.4);
    margin: 13px 0;
    border-radius: 3px;
    }
    
    QSlider::handle:horizontal {
    width: 31px;
    margin: -13px 0; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
    border-radius: 15px;
    background-color: #83faff;
    }
    