/*************************************************/
/* Global CSS */
QWidget,
QHeaderView::section {
  background: transparent;
  alternate-background-color: transparent;
  selection-background-color: transparent;
  selection-color: #83faff;
  border-style: none;
  outline-style: none;
  font-size: 15px;
  color: white;
  font-family: Roboto;
  font-weight: 300;
}
QWidget:disabled {
  color: slategrey;
}
QAbstractButton:disabled,
QAbstractSpinBox:disabled,
QLineEdit:disabled,
.QValidatedLineEdit:disabled,
QComboBox:disabled,
QSlider::handle:horizontal:disabled {
  background: rgb(62, 78, 78);
  border: 1px solid rgb(51, 54, 54);
}

QDialog {
  background: qlineargradient(
    x1: 0 y1: 0,
    x2: 1 y2: 1,
    stop: 0 #5e0057,
    stop: 1 #1f192a
  );
}

/*************************************************/
/* Nav Bar CSS */
#navLayout {
  background: qlineargradient(
    x1: 0 y1: 0,
    x2: 1 y2: 1,
    stop: 0 #5e0057,
    stop: 1 #1f192a
  );
  padding: 10px;
}
QToolBar > QToolButton {
  font-size: 15px;
  font-weight: 500;
  min-width: 160px;
  padding: 12px 7px;
}
QToolBar > QToolButton:checked {
  color: #83faff;
  font-size: 18px;
  font-weight: bold;
}
#dapsico {
  padding: 25px;
}
#bottomToolbar > QToolButton {
  font-size: 12px;
  padding: 0;
  padding-left: 40px;
}

/*************************************************/
/* Element CSS */
QMessageBox QAbstractButton,
QMessageBox QFrame {
  border: 1px solid #83faff;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  margin: 15px;
  border-width: 2px;
}
QMessageBox QFrame {
  padding: 0 40px 0 40px;
  border-radius: 50px;
  min-height: 100px;
  background: rgba(0,0,0,30%);
  border-width: 3px;
}
QTableWidget {
  alternate-background-color: rgba(0, 0, 0, 20%);
  selection-background-color: rgba(255, 255, 255, 10%);
}
QHeaderView::section,
QCalendar::section, QCalendar QHeaderView::section {
  min-height: 55px;
}
QTableView::item,
QTableWidgetView::item,
QHeaderView::item,
QTableView::selectrows {
  padding: 25px;
}

/*** Check Boxes and Radio ***/
.QRadioButton::indicator,
QCheckBox::indicator {
  height: 25px;
  width: 25px;
  border-radius: 12px;
  background-color: whitesmoke;
  margin: 7px;
}
.QRadioButton::indicator:checked,
QCheckBox::indicator:checked {
  height: 20px;
  width: 20px;
  background-color: #5e2059;
  border-style: solid;
  border-radius: 13px;
  border-color: whitesmoke;
  border-width: 3px;
  margin: 7px;
}

/*** Line Edits, ComboBoxes ***/
.QValidatedLineEdit,
.QLineEdit,
QAbstractSpinBox,
QComboBox,
/* QListView, */
QComboBox QAbstractItemView,
QCalendar QCalendarWidget QWidget,
QCalendarWidget,
QCalendarWidget QWidget#qt_calendar_navigationbar,
QCalendarWidget QMenu,
QCalendarWidget QAbstractItemView:enabled,
QTextEdit {
  /* padding-left: 10px; */
  padding: 12px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #83faff;
  border-style: solid;
  background: #1e223a;
  background-color: #1e223a;
  alternate-background-color: #1e223a;
  margin: 5px;
}
/* QCalendarWidget QWidget { alternate-background-color: green; } */
.QValidatedLineEdit:focus,
.QLineEdit:focus,
QAbstractSpinBox:focus,
QComboBox:focus,
QComboBox::item:selected,
QMenuBar::item:selected,
QMenu::item:selected,
QTextEdit:focus,
QToolTip {
  font-size: 18px;
  border-width: 4px;
  background: #31398c;
}

QMenu::item {
  margin: 0;
  padding: 8px;
  border-radius: 0;
}
QComboBox:checked {
  color: #83faff;
}
QComboBox::indicator {
  background-color: transparent;
}

/*** Buttons ***/
QPushButton {
  height: 30px;
  border-radius: 10px;
  background-color: #470143;
  font-size: 20px;
  font-weight: 400;
  padding: 10px 20px;
  max-width: 200px;
}

QPushButton:hover {
  background-color: #4e0049;
  color: #b0fcff;
  font-style: bold;
}

QPushButton:pressed {
  background-color: #5e0057;
  border-style: solid;
  border-color: #4e0049;
  border-width: 10px;
}

/*** Spin Boxes, Combo Boxes ***/
QWidget::up-button {
  border-radius: 10px 10px 0 0;
  subcontrol-origin: border;
  subcontrol-position: top right;
  width: 21px;
  padding-right: 1px;
  padding-left: 5px;
  padding-top: 2px;
  background: transparent;
  alternate-background-color: transparent;
}

QWidget::down-button,
QWidget::drop-down {
  border-radius: 0 0 10px 10px;
  subcontrol-origin: border;
  subcontrol-position: bottom right;
  padding-right: 1px;
  padding-left: 5px;
  padding-bottom: 2px;
  width: 21px;
  background: transparent;
  alternate-background-color: transparent;
}

QWidget::up-arrow {
  image: url(":/images/upArrow_small");
}
QWidget::up-arrow:disabled {
  image: url(":/images/upArrow_small_dark");
}

QWidget::down-arrow {
  image: url(":/images/downArrow_small");
}
QWidget::down-arrow:disabled {
  image: url(":/images/downArrow_small_dark");
}

QWidget::left-arrow {
  image: url(":/images/leftArrow_small");
}
QWidget::left-arrow {
  image: url(":/images/leftArrow_small_dark");
}

QWidget::right-arrow {
  image: url(":/images/rightArrow_small");
}
QWidget::right-arrow {
  image: url(":/images/rightArrow_small_dark");
}

/*** Sliders ***/
QWidget::horizontal {
  height: 45px;
}

QWidget::groove:horizontal {
  height: 8px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
  background-color: rgba(0, 0, 0, 0.4);
  margin: 13px 0;
  border-radius: 3px;
}

QWidget::handle:horizontal {
  width: 31px;
  margin: -13px 0; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
  border-radius: 15px;
  background-color: #83faff;
}

/*** Toggle Buttons ***/
ToggleButton > QPushButton {
  font-size: 10px;
  padding: 0;
  border-radius: 10px;
}

ToggleButton > QPushButton:enabled:checked {
  background-color: black;
  color: #93faff;
  border: 1px solid #93faff;
}
#TxEntry,
#TxEntry QTableView::item,
#TxEntry QTableWidgetView::item,
#TxEntry QHeaderView::section,
#TxEntry QTableView::selectrows {
  padding: 0px;
  margin: 0px;
}
#TxEntry QPushButton {
  border-radius:0; 
  border: none; 
  background: transparent;
}

QToolTip{
max-width:0px;;
max-height:0px;
}

QLabel#generalHeader, QLabel#clientName, QLabel#clientNameLabel, QLabel#networkHeader {
color: black;
}
QLabel#clientVersion, QLabel#clientVersionLabel, QLabel#openSSLVersionLabel, QLabel#openSSLVersion {
color: black;
}
QLabel#berkeleyDBVersionLabel, QLabel#berkeleyDBVersion, QLabel#buildDateLabel, QLabel#buildDate {
color: black;
}
QLabel#startupTimeLabel, QLabel#startupTime, QLabel#buildDateLabel, QLabel#buildDate {
color: black;
}
QLabel#networkNameLabel, QLabel#networkName, QLabel#numberOfConnectionsLabel, QLabel#numberOfConnections {
color: black;
}
QLabel#masternodeCountLabel, QLabel#masternodeCount, QLabel#numberOfBlocksLabel, QLabel#numberOfBlocks {
color: black;
}
QLabel#blockchainHeader, QLabel#lastBlockTimeLabel, QLabel#lastBlockTime {
color: black;
}
QLabel#label_repair_header, QLabel#label_repair_helptext, QLabel#wallet_path, QLabel#wallet_path_label {
color: black;
}
QLabel#label_repair_salvage_command, QLabel#label_repair_salvage, QLabel#label_repair_rescan_command, QLabel#label_repair_rescan {
color: black;
}
QLabel#label_repair_zap1_command, QLabel#label_repair_zap1, QLabel#label_repair_zap2_command, QLabel#label_repair_zap2 {
color: black;
}
QLabel#label_repair_upgrade_command, QLabel#label_repair_upgrade, QLabel#label_repair_reindex_command, QLabel#label_repair_reindex {
color: black;
}
QLabel#label_repair_resync_command, QLabel#label_repair_resync {
color: black;
}
