
{
    "presets": [
        [
            "@babel/preset-env", 
            {
                "targets": {
                "esmodules": true,
                "node": "current"
                }
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
         "transform-class-properties",
         "transform-object-rest-spread"
    ]
}